
:root{
  /*INVERNÁCULUS*/
  --first-color: rgb(177, 173, 173);
  --second-color: rgb(153, 98, 98);
  --title-color: rgb(221, 217, 217);
  --h1-color: rgb(97, 97, 97);
  --link-color: aquamarine;
  --album-color: #d890e8;
  --black-play: black;
  --insecta-rose: rgb(213, 105, 137);
  --bg-color: rgb(79, 89, 112);
}

@font-face {
  font-family: "Invernaculus";
  src: url("../assets/Invernaculus.ttf");
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 100;
    font-size: 16px;
    font-family: "Invernaculus";
}

*,*::after, *::before {
         box-sizing: inherit;
}

body{
    margin: 0;
     padding: 0;  
     
    
     
      background: linear-gradient(90deg, rgb(124, 145, 145) 0%, rgb(78, 78, 100) 60%, rgb(54, 46, 46) 100%);
     
      }

img{
    max-width: 100%;
    height: auto;
  }







  /* ********** HeroImage ********** */

@keyframes hero-opacity{
  0%{
    opacity: 1;
  }
  50%{
   opacity: 0.35;
  }
  100%{
    opacity: 1;
  }
  
}




  .hero-image {
   /* background-color: var(--bg-color);
    */

    background: linear-gradient(90deg, rgb(91, 92, 92) 0%, rgb(38, 38, 41) 35%, rgb(14, 14, 17) 100%);
     
     
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*filter: sepia(1) blur(0.06rem);
    background-color: black;
    animation: hero-opacity 2.5s linear infinite;
  */
  }
  
  .hero-image-opacity {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  

  

  /*.fixed-image-container{
    background-image: url("../assets/pozzo-carbi-grande.png");
    position: sticky;
    background-color: rgb(18, 21, 27);
    background-size: cover;
    
    background-repeat: no-repeat;
    width: 100%;
    height: 180vw;

    top: -150px;
    z-index: -1;
  }*/
    

@keyframes hero-humo{
  0%{
    transform: translateX(100px) translatey(250px);
  }
  25%{
    transform: translateX(100px) translateY(60px);
  }
  50%{
    transform: translateX(100px) translatey(60px);
  }
  100%{
    transform: translateX(100px) translateY(100px);
  }
}

.hero-humo{
  width: 10px;
  height: 1px;
  box-shadow: 0 0 8rem 10rem white;
  border-radius: 50%;
  position: relative;

  top: -420px;
  
  
  animation: hero-humo 3s linear infinite;
}



  /*HUMO*/


/*
@keyframes humo{
  0%{
    transform: translateX(0%) translateY(0px);
  }
  25%{
    transform: translateX(-40px) translateY(-50px);
  }
  50%{
    transform: translateX(0%) translateY(0px);

    }
  75%{
    transform: translateX(0) translateY(50px);

  }
  100%{
    transform: translateX(0) translateY(0);
  }
}*/


@keyframes humo{
  0%{
    transform: translateX(275px) translateY(-270px);
  }
  100%{
    transform: translateX(-280px) translateY(340px);
  }
 
 /* 75%{
    transform: translateX(0) translateY(50px);

  }
  100%{
    transform: translateX(0) translateY(0);
  }*/
}

.humo-container{
  
  position: sticky;
  width: 20vw;
  min-height: 10vh;
  top: 50vh;
 
}

.humo{
  background-color: rgb(181, 179, 179);
  box-shadow: 0 0 6rem 9rem rgb(119, 111, 105);
  width: 1px;
  height: 1px;
  position: relative;
  top: 100px;
  left: 200px;
  
  animation: humo 45s linear infinite;
}


/*VIDEO "EN LAS SOMBRAS*/

.tv-image{
box-sizing: border-box;
  background-image: url("../assets/tv-grande.jpg");
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: 50% 0%;
  position: relative;
  width: 280px;
  height: 356px;
margin-left: auto;
margin-right: auto;
border-radius: 5%;
box-shadow: 1rem 0rem 1rem 0.1rem rgb(12, 11, 11);
border: 1rem solid rgb(54, 44, 41);
  overflow: hidden;
  
}


.en-las-sombras-container{
  position: relative;
  width: 170px;
  height: 115px;
  background-color: rgb(0, 0, 0);
  transform: perspective(1000px) rotate(-4deg) rotateX(7deg) rotateY(13deg);
  left: 12.7%;
 
  top: 10%;

  box-shadow: 0 0 0.5rem 0.2rem rgb(0, 0, 0);
}

.video-en-las-sombras-container{
  background-color: black;
  left: 0px;
top: 10px;
  position: relative;
  width: 170px;
  height: 95.625px;
  

  filter: blur(0.05rem) sepia(0.3);
}


.video-en-las-sombras-container>*{
 position: absolute;
 width: 100%;      
 height: 100%;
 
 

 }



 .video{
  position: relative;
  width: 100%;
  height: 100%;
 }
 .video>*{
  position: absolute;
  max-width: 100%;
  height: auto;
 }

 




/*DISCOGRAFÍA*/


.text-shadow{
  text-shadow: 5px 0 8px black;
}

.discography-container{
  padding-top: 1px;
       
    background: linear-gradient(90deg, rgb(124, 145, 145) 0%, rgb(78, 78, 100) 60%, rgb(54, 46, 46) 100%);
     
     
    margin-left: auto;
    margin-right: auto;
    
    height: auto;
    

    
}

/*

.section-title{
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    
    margin: 50px auto;
    padding: 8px 16px;
    width: 250px;
    text-align: center;
    color: var(--title-color);
    font-size: 2.2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 80;
    font-weight: 100;
    
}*/

@media screen and (min-width: 768px){
  .section-title{
    position: relative;
    top: 0;
  }

  .discografia-h2 {
    top: -1500px;
    position: relative;
  }
}








/*------------generales para àlbumes --------*/


.album-name{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: var(--first-color);
}

.albums{
background-color: #d890e8;
width: 250px;
position: relative;
  

 margin-left: auto;
 margin-right: auto;
  z-index: 6;
}




.album-container{
    position: relative;
    margin: 0px auto 0 auto;
    background-color: #d890e8;
    padding: 0px;
    width: 243px;
    height: 243px;/*según el caso*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;/* reparte espacio sobrante considerando orillas
  */
    align-items: center;
    transform: scale(0.9);
    font-size: 14px;
    
    z-index: 20;
  }

 

.album-container h3{
    text-align: center;
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 100;
    
    width: 200px;
    color: var(--first-color);
}




.second-color{
  color: var(--second-color);
}


/*---------biografía---------*/

.bio{
  margin-top: 80px;
  
}









/*--------------------------------*/

.ul{
    width: 280px;
    height: 280px;
    border-radius: 4px;
    position: relative;
    top: -40px;
    z-index: 1;
   
  }

.padding-top-20px{
    padding-top: 20px;
}


.padding-top-30px{
  padding-top: 30px;
}


 .ul li{
     list-style: none;
      margin: 2px 0;
      height: 20px;
      position: relative;
      left: -20px;
  }

   .ul a{
       text-decoration: none;
       display: flex;
       flex-direction: row;
       font-size: 17px;
       text-align: center;
       
      transition: color 0.2s ease-in;
   }     

   
   .btn-play{
        
    width: 15px;
    height: 15px;
    
    background-color: var(--first-color);
    clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    transition: transform 0.2s linear;
}

.btn-play-border{
    border: 2px solid rgb(70, 69, 69);
    background-color: var(--black-play);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 3px;
    padding-right: 6px;
   
    
}
.btn-play:hover{
    transform: scale(1.2);
    background-color: rgb(169, 100, 136);
    
    
}




/*para abrir todas las tapas*/


@keyframes abrir-tapa{
  0%{
    transform-origin: 0 0;
     transform: perspective(2000px) rotateY(0deg);
  }
  100%{
   transform-origin: 0% 0%;
   transform: perspective(2000px) rotateY(-88deg);
}
     }


.abrir-tapa{
  
  animation: abrir-tapa 3s ease-in-out both;
  animation-play-state: paused;
}













/*GLADSTONE ROAD




.ul-gr{
    width: 280px;
    height: 280px;
    background-color: rgb(89, 220, 220);
    position: relative;
    top: -100px;
    left: 0px;
    z-index: 1;

}

.ul-gr li{
    list-style: none;
    height: 30px;
    width: 250px;
    position: relative;
    left: -20px;
    
    top: -10px;
}
    
.ul-gr a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-align: center;
    
    transition: color 0.2s ease-in;
}



.album-cover-gr{
    background-image: url("../assets/img_tapa_gs_abrir.jpg");
   
    background-size: cover;
    background-repeat: no-repeat;
    top: -380px;
    width: 280px;
    height: 280px;
    position: relative;
       
    /*animation: abrir-tapa 4s ease both;
    animation-play-state: paused;
    
    z-index: 15;
    
}


.gr-container{
  margin-top: 600px;
}

 


.gr-image-background{
    background-image: url("../assets/img_fondo_bajo_gs.jpg");
    background-size: 113%;
    background-repeat: no-repeat;
    background-position: -21.5px 0;
    position: relative;
    width: 280px;
    height: 280px;
    top: -482px;
    z-index: 0;

}*/





/*GLADSTONE ROAD TABLET/DESKTOP

@media screen and (min-width: 768px){
      
  .gr-container{
    margin-top: 0;
  }


.ul-gr{
    width: 340px;
    height: 340px;
    background-color: rgb(89, 220, 220);
    position: relative;
    top: -100px;
    left: 0px;
    z-index: 1;

}

.ul-gr li{
    margin-left: 20px;
    list-style: none;
    width: 290px;
    height: 35px;
    position: relative;
    
}
    
.ul-gr a{
  
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18.2px;
    text-align: center;
    
    transition: color 0.2s ease-in;
}


.album-cover-gr{
    background-image: url("../assets/img_tapa_gs_abrir.jpg");
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 340px;
    height: 340px;
    position: absolute;
    top: 350px;

    z-index: 15;
}

.gr-image-background{
    background-image: url("../assets/img_fondo_bajo_gs.jpg");
    background-size: 113%;
    background-repeat: no-repeat;
    background-position: -25px 0;
    position: absolute;
    width: 340px;
    height: 340px;
    top: 564px;
    z-index: 0;

}


.btn-abrir-gr{
    position: relative;
    z-index: 50;
    background-color: rgb(31, 15, 136);
    color: #f3f3f3;
    width: 50px;
    padding-top: 2px;
    font-size: 18px;
    top: 10px;
    left: 140px;
}












}*//*---------------IINSECTA---------------*/

@keyframes antena1{

    0%{
        transform: rotate(-30deg);
        transform-origin: 0 100%;
    }
    30%{
        
        transform-origin: 0 100%;
        transform: rotate(5deg);
    }
    50%{
        transform-origin: 0 100%;
        transform: rotate(-10deg);
    }
    
    70%{
        transform-origin: 0 100%;
        transform: rotate(0deg);
    }
    
    90%{
        transform-origin: 0 100%;
        transform: rotate(-20deg);
    }
    100%{
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }
}




@keyframes antena2{
    0%{
        
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }
    40%{
        transform-origin: 0 100%;
        transform: rotate(-80deg);
    }
    70%{
        transform-origin: 0 100%;
        transform: rotate(-60deg);
    }
    100%{
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }

}
.antena1{
    background-color: var(--insecta-rose);
     
    width: 1.5px;
    height: 16px;
    position: absolute;
   z-index: 12;
   top: 30px;
   left: 119.5px;
   transform: rotate(-30deg);

   animation: antena1 3s linear infinite;
   
}

.antena2{
    background-color: var(--insecta-rose);
     
     width: 1.5px;
    height: 16px;
    position: absolute;
   z-index: 12;
   top: 34px;
   left: 113px;
   transform: rotate(-30deg);

   animation: antena2 2s ease-in infinite;
   
}


.album-insecta{
    
    background-image: url("../assets/img_insecta_mejor.jpg");
     
    background-repeat: no-repeat;

    background-color: black;
    background-size: 102.5%;
    background-position: 53% 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    
   z-index: 10;
   
       
}





.bg-insecta{
  position: absolute;
    background-color: var(--insecta-rose);
    background-color: black;
    background-image: url("../assets/hormiguero.jpg");
    background-size: 140%;
    background-position: -100px -10px;
    background-repeat: no-repeat;
    top: -18px;
 
}



.track-name-insecta{    
  width: 240px;
  font-size: 16px;
  transition: transform 0.2s ease-in;
 
 font-weight: 100;
color: rgb(188, 184, 184);

}


.track-name-insecta:hover{
  
   color: rgb(166, 165, 165);;
}




#rotate-insecta{
 position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
 
  
}




/*-----------------TACH FELINO-----------------*/


@keyframes cola1{
    0%{
        
        transform-origin: 0 100%;
        transform: rotate(-35deg);
    }
    30%{
        transform-origin: 0 100%;
        transform: rotate(-10deg);
    }
    50%{
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }
    70%{
        transform-origin: -10 100%;
        transform: rotate(0deg);
    }
 
    100%{
        transform-origin: 0 100%;
        transform: rotate(-35deg);
    }

}

.cola1{
    background-color: rgb(5, 5, 5);
    
    border-bottom: rgb(0, 0, 0) solid 0px;
    border-top: #dadada solid 0.01px;
    border-left: #d8d6d6 solid 0.01px;
    border-right: #d4d4d4 solid 0.01px;

    border-radius: 5px 5px 5px 5px;
     width: 5px;
    height: 12px;
    position: absolute;
   z-index: 12;
   top: 200.5px;
   left: 189.5px;

   animation: cola1 5s ease-in infinite;
}

@keyframes cola2{
    0%{
        
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }
    30%{
        transform-origin: 0 100%;
        transform: rotate(-10deg);
    }
    50%{
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }
    70%{
        transform-origin: 0 100%;
        transform: rotate(0deg);
    }
 
    100%{
        transform-origin: 0 100%;
        transform: rotate(-30deg);
    }

}

.cola2{
    background-color: rgb(0, 0, 0);
   
    
    border-bottom: rgb(0, 0, 0) solid 0px;
    border-top: #ffffff solid 0.05px;
    border-left: #ffffff solid 0.05px;
    border-right: #ffffff solid 0.05px;

    border-radius: 5px 5px 5px 5px;
     width: 5px;
    height: 11px;
    position: absolute;
   z-index: 12;
   top: 105px;
   left: 224.3px;

   animation: cola2 10s ease-in infinite;
}



.bg-tach-felino{

 
 


  position: absolute;
    background-color: black;
    background-image: url("../assets/img_tach_felino.jpg");
   background-size: 250%;
background-position: 110% 10%;
    top: -18px;
 

}




.tapa-tach-felino{
    
  background-image: url("../assets/img_tach_felino_sin_colas.jpg");
   
  background-repeat: no-repeat;

  background-color: black;
  background-size: 102.5%;
  background-position: 53% 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  
 z-index: 10;
 
     
}


.track-name-tach-felino{    
  width: 240px;
  font-size: 16px;
  transition: transform 0.2s ease-in;
 
 font-weight: 100;
color: rgb(190, 186, 186);

}
  


.track-name-tach-felino:hover{
  
  color: rgb(110, 108, 108);
}




#rotate-tach-felino{
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;

}




.bg-white{
  background-color: white;
  
}




/*------------DÍAS LIME------------*/

.bg-dias-lime{

 
 


  position: absolute;
    background-color: black;
   
    top: -18px;
 

}



.tapa-dias-lime{
    
  background-image: url("../assets/img_dias_lime.jpg");
   
  background-repeat: no-repeat;

  background-color: rgb(120, 31, 31);
  background-size: 102.5%;
  background-position: 53% 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  
 z-index: 10;
 
     
}


.bg-dias-lime{
  
  background-image: url(../assets/img_dias_lime.jpg);
background-position: 47.5% 83%;
background-size: 420%;
filter: sepia(1);
}


.track-name-dias-lime{   
  font-weight: 100; 
    width: 240px;
    font-size: 18px;
    transition: transform 0.2s ease-in;
   
    color: rgb(92, 162, 110);
 color: rgb(255, 255, 255);

}



.track-name-dias-lime:hover{
  
  color: rgb(166, 165, 165);
}




#rotate-dias-lime{
  
 


  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;



  
}

/*---------TOCADISCOS------------*/

.tocadiscos{
  position: relative;
  top: -215px;
  left: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  background-image: url("../assets/tocadiscos-dibujo.png");
  background-size: 108%;
  background-position: -16px -94px;
  background-repeat: no-repeat;
  z-index: 4;
  

}


@keyframes pua-animation{
  0%{
    transform: perspective(1000px) rotatex(30deg) rotatez(-37deg) translateX(-12px) translateY(-21px);

  }
  20%{
    transform: perspective(1000px) rotatex(40deg) rotatez(-37deg) translateX(-12px) translateY(-21px);

  }
  50%{
    z-index: 6;
    
    transform: perspective(1000px)  rotatex(50deg)  rotatez(0deg)  translateY(10px);

  }
  70%{
    z-index: 6;
    
    transform: perspective(1000px)  rotatex(40deg) rotatez(25deg)  translateX(26px) translateY(8px);

  }
  80%{
    z-index: 6;
    
    transform: perspective(1000px)  rotatex(40deg) rotatez(30deg)  translateX(30px) translateY(7px);

  }
  100%{
    z-index: 6;
    
    transform: perspective(1000px)  rotatex(30deg) rotatez(30deg)  translateX(28px) translateY(3px);

  }

 
}


.pua-container{
  width: 100%;
  height: 180px;
  position: relative;
  background-color: #d890e8;
}

.pua{
  position: relative;
  z-index: 4;
  width: 80px;
  height: 160px;

  background-image: url("../assets/pua.png");
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: -150px -140px;

 transform-origin: 100% 0%;
 transform: perspective(1000px) rotatex(30deg) rotatez(-37deg) translateX(-12px) translateY(-21px);


}

.pua-animation{
  animation-delay: 13s;
  animation: pua-animation 8s ease-in 8.5s both;
}


/*----------INFINITO 1-------------------------

.bg-fondo-inf1{
    border-radius: 5px;
   margin-top: -12px;
    background-color: rgb(31, 27, 11);
}
.bg-fondo-inf1 li{
  
  margin-bottom: 8px;
}
.bg-fondo-inf1 a{
    color: #988d72;
    font-size: 15px;
}

.bg-fondo-inf1 ul{
  position: relative;
  height: 280px;
  top: -30px;
  
}
  





*//*---------------  3  ----------------------- 


.ul-3{
    width: 280px;
    height: 280px;
    position: relative;
    top: -42px;
    box-shadow: 0.5rem 0.3rem 0.5rem 0.1rem rgb(121, 116, 116);
    margin-bottom: 20px;
    border-radius: 5px;

  }

.ul-3 li{
    list-style: none;
    height: 15px;
    margin-bottom: 5px;
    
    width: 280px;
    position: relative;
  
    left: -40px;
}

.ul-3 a{
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    
    height: 15px;
    
}

.bg-fondo-3{
    background-color: rgb(2, 2, 2);
    border: 7px solid white;
    
}

.bg-fondo-3 li:first-child{
    margin-top: -10px;
}

.bg-fondo-3 a{
    color: rgb(130, 128, 128);
}
.bg-fondo-3 .btn-play-border{
  width: 20px;
  height: 20px;
  
  
  
}
.bg-fondo-3 .btn-play{
  width: 12px;
  height: 12px;
  
}
*/

/*-----------------SIN RESPIRAR-----------------

.bg-fondo-sin-respirar{
    background-color: black;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgb(121, 116, 116);
    top: -68px;
}

.bg-fondo-sin-respirar ul{
  top: -10px;
  position: relative;
  
}
.bg-fondo-sin-respirar a{
    color: rgb(232, 21, 21);
    transition: color 0.6s ease;
    font-size: 14px;
}

.bg-fondo-sin-respirar a:hover{
  color: rgb(191, 186, 186);
}


*/

/*-------------EXHIBICIÓN CONDICIONADA-------------


.bg-fondo-exh-condic{
    background-color: rgb(251, 184, 153);
    position: relative;
    top: -74px;
}

.bg-fondo-exh-condic ul{
  
  top: 1.5px;
  position: relative;
}
  
.bg-fondo-exh-condic a{
    color: rgb(19, 19, 19);
    font-size: 14pxs;
}

.track-name-e-c{
    width: 260px;
    height: 27.5px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 14px;
      background-color: #d9d7d7;
}

.bg-fondo-exh-condic li{
    height: 27.8px;
   
}


.track-name-e-c:hover{
        transition: 0.2s ease;
        transform: scale(1.01);
        color: red;
    }
*/










    /*---------VERSIÓN TABLET--------------*/


  @media screen and (min-width: 768px){
    .discography-container{
      margin-top: -1400px;
    }
 

   
.albums{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
}
/*
.album-cover-gr{
    top: 128px;
}

.gr-image-background{
    top: 344px;
}

.gr-container{

    
    position: absolute;
    width: 340px;
    height: 680px;
    left: 33%;
    
}

.ul-gr{
    top: -55px;
}*/

.position-central{
    position: relative;
    width: 340px;
    height: 340px;
    left: 0%;
    top: -86px;
}

.inf2-position-central{
    position: absolute;
    width: 340px;
    height: 340px;
    top: 86px;
}
/*
.btn-abrir-gr{
    top: 70px;
}*/

  }




      /*BIO*/

  .transp-foto{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: rgba(49, 77, 155, 0);
    z-index: 10;
  }

.galery-container{
  padding-top: 30px;
  
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

  .galery{
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   flex-direction: column;
    justify-content: space-around;
    transform: perspective(1000px) rotateY(30deg) rotateZ(-10deg);
    filter: invert(1) sepia(1);
    transition: all 1s;
    position: relative;
    z-index: 10;
  }

  
  .transp2-foto{
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: rgba(49, 77, 155, 0);
    z-index: 10;
  }

  .galery-2{
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -600px;
    display: flex;
   flex-direction: column;
    justify-content: space-around;
    transform: perspective(1000px) translateX(-15px) rotateY(-60deg) rotatex(30deg) rotateZ(25deg);
    filter: invert(1) sepia(1);
    transition: all 1s;
    position: relative;
    z-index: 2;

  }

.normal-galery{
  width: 300px;
  transition: all 1s;
  transform: none;
  filter: none;
  position: relative;
  z-index: 100;
}


  .foto{
    position: relative;
   background-color: rgb(27, 24, 23);
    max-width: 100%;
    height: 100%;
    border: solid 10px rgb(27, 24, 23);
    
   
  
  }

  

/*
     @media screen and (min-width: 768px){


        .text-bio-container{
            width: 450px;
           height: 450px;
           margin-left: auto;
           margin-right: auto;
        }

       .bio{
           width: 450px;
           height: 450px;
        
       }

    

     }






            /*AGENDA


     @keyframes scale{
       0%{
         transform: scale(0.7);
       }
       25%{
         transform: scale(1);
       }
       75%{
         transform: scale(1);
       }
       100%{
         transform: scale(0.7);
       }
     }



     .agenda{
       text-align: center;
       width: 300px;
       height: auto;
       margin-left: auto;
       margin-right: auto;
       
       position: relative;
     }

    

     .agenda img{
      
       width: 100%;
       height: 100%;
       border-radius: 20px;
       box-shadow: 0rem 0rem 0.5rem 0.5rem white;
       margin-top: 30px;
       
     }


     .entradas{
         margin-top: 50px;
         display: inline-block;
         width: 100px;
         height: 40px;
         font-size: 20px;
         background-color: black;
         color: red;
         text-decoration: none;
         padding-top: 7px;
         border: 1px solid rgb(128, 255, 255);
         border-radius: 10px;
         /*box-shadow: 0rem 0rem 0.5rem 0.2rem white;
         animation: scale 2s ease-in-out infinite;
     }

     @media screen and (min-width: 768px){
       .agenda{
           width: 450px;
           
       }

     }
     */



     /*TIENDA*/
/*
.tienda{
         margin-top: 150px;
         margin-bottom: 40vh;
       text-align: center;
     }

     .enlace-tienda{
       background-color: aquamarine;
       width: 150px;
       height: 50px;
       margin-left: auto;
       margin-right: auto;
       padding-top: 12.5px;
       border-radius: 1rem;
     }

     .enlace-tienda a{
       color: red;
       font-size: 25px;
       font-weight: bold;
       
       text-decoration: none;
     
     }

    
    
     @media screen and (min-width: 768px){
       
        .tienda{
            margin-top: 200px;
          text-align: center;
        }
      }
 */




  
/*TOCADISCOS TODO CON CSS*/



@media screen and (min-width: 768px){
  .disc-container-total{
    width: 340px;
    height: 340px;
    top: -1450px;
  }
}



@media screen and (min-width: 1200px){
  .disc-container-total{
    width: 340px;
    height: 340px;
    
  }
}

/*DISC*/


.disc-container-total{

  position: relative;
  width: 302px;
  height: 302px;
 top: -272px; /*lo coloca debajo del estuche del disco*/
 left: -50px;
background-color: rgb(60, 98, 98, 0);
  
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /*NO OLVIDAR DE PONER*/
    transform: scale(0.6);
  z-index: 5;

}
.container-circle{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  position: relative;
  

  
}


@keyframes Disc-Animation{
  0%{
        
    transform: perspective(1000px) rotateY(0deg) scale(0.63) translateX(0px);


   }
   20%{
   transform: perspective(1000px) rotateY(40deg) scale(0.65) translateX(-60px);
 
   }
  50%{
      transform: scale(0.7) perspective(1000px) rotateY(40deg) translateX(140px);
  }
  70%{
      transform: scale(0.6) perspective(1000px) translateX(80px) translateY(300px) rotateX(50deg);
  }
  80%{
      transform: scale(0.58) perspective(1000px) translateX(40px) translateY(350px) rotateX(50deg) rotateY(0deg);
  }
  100%{
    transform: scale(0.58) perspective(1000px) translateX(-62px) translateY(380px) rotateX(40deg) rotateY(0deg);
}
}


.disc-animation{
  
animation-name: Disc-Animation, Disc-Rotation;
  animation-delay: 0s, 10s;
  animation-duration: 10s, 1.818s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: infinite;
}

@keyframes Disc-Rotation{
  0%{
   
      transform: scale(0.58) perspective(1000px) translateX(-62px) translateY(400px) rotateZ(0deg);
 
  
  }
  100%{
    transform: scale(0.58) perspective(1000px) translateX(-62px) translateY(400px) rotateZ(360deg);
 
 
  }
}

/*
.disc-rotation{
  
  animation: 14s Disc-Rotation 0.818s linear infinite;
     
}*/


.disc-translate-insecta{
    color: rgb(30, 30, 31);
   width: 100%;
  margin-right: auto;
  margin-left: auto;
   height: 100%;
    border-radius: 50%;
   
  background-image: repeating-radial-gradient(rgb(26, 54, 51) 0% 1%, var(--insecta-rose) 2% 7%); 
    
  }


.disc-translate-tach-felino{
  color: rgb(0, 0, 0);
 width: 100%;
margin-right: auto;
margin-left: auto;
 height: 100%;
  border-radius: 50%;

  background-image: repeating-radial-gradient(rgb(90, 90, 90) 0% 1%, rgb(236, 232, 232) 2% 7%); 
  
}


.disc-translate-dias-lime{
    color: rgb(167, 176, 187);
   width: 100%;
  margin-right: auto;
  margin-left: auto;
   height: 100%;
    border-radius: 50%;
  
    background-image: repeating-radial-gradient(rgb(37, 37, 37) 0% 1%, rgb(29, 27, 27) 2% 7%); 
   
  }



.disco-inclinado{

 
    width: 100%;
    height: 100%;
  
     
}

@keyframes rotatex-50{
  0%{
    transform: perspective(1000px) rotateX(0deg);
  }
  100%{
    transform: perspective(1000px) rotateX(60deg);
  }
}


.rotatex-50{

  animation: rotatex-50 1s linear 8s both;
  
}





.tapa{
  top: 35%;
   text-align: center;
   width: 100%;
   
   position: absolute;
 }
 .tapa img{
   border-radius: 50%;
   width: 30%;
   height: 30%;
     }
 



     @keyframes Visited-Disc{
      0%{
        
        transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
    
    
       }
       30%{
       transform: perspective(1000px) rotateY(40deg) scale(0.7) translateX(-110px);
     
       }
       60%{
       transform: perspective(1000px) rotateY(40deg) scale(0.7) translateX(-110px);
     
       }
       80%{
        transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
    
       }
       100%{
        transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
    
       }
     }


     .visited-disc{
     
      animation: Visited-Disc 14s linear both;
     }

     



     .contact-card h5{
      font-size: 24px;
      font-weight: 100;
    }
    
    
    .email a{
      color: aqua;
      font-family: 'invernaculus', Courier, monospace;
      font-size: 18px;
      
    }
    



/*--------FUNCIONALIDADES---------*/

.boton-normal{
  
  background-color: rgb(197, 143, 43, 0);
  width: 270px;
  height: 270px;
  position: absolute;
  
  border: solid 3px rgb(0, 0, 0, 0);

  z-index: 100;
}


.box-shadow{

   box-shadow: 0.6rem 0rem 0.5rem 0.2rem rgb(37, 34, 34);

}


.running{
  
    animation-play-state: running;
  }
  


  
