

      
  .anterior-siguiente{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10px;
  }


  .anterior-siguiente a{
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
    color: rgb(177, 175, 175);
  }


  .bg-insecta-rose{
    background-color: var(--insecta-rose);
  }

  .bg-black{
    background-color: black;
  }

  .body-insecta{

    background: linear-gradient(90deg, rgb(13, 78, 74) 0%, #0e4648 40%, var(--insecta-rose) 100%);
       
  }
  
  
  
  .body-tach-felino{
  
    background: linear-gradient(90deg, rgb(124, 145, 145) 0%, black 30%, black 70%, rgb(124, 145, 145) 100%);
       
  }
  
  
  .body-tach-felino .letra{
    color: white;
  }
  
  
  


  .dias-lime .anterior-siguiente a{
    color: rgb(221, 221, 223);
  }

.canciones-h1{
  color: white;
  margin-top: -10px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  text-shadow: 4px 0px 4px rgb(17, 16, 16);
}
     
.cancion-body{
  width: 100%;
  height: 100%;
 
}

.dias-lime{

  /*background: linear-gradient(90deg, rgb(124, 145, 145) 0%, rgb(13, 78, 74) 1%, var(--insecta-rose) 80%);
  */  
  background-image: url("../assets/img_dias_lime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -215px -50px;
    

}

.dias-lime .letra{
  color: white;
}


.instrumento{
  color: rgb(104, 102, 102);
}


.letras-insecta{
  background-image: url("../assets/hormiguero.jpg");
  background-size: cover;
  
  color: rgb(206, 203, 203);

}

.letra{
  
  padding: 10px;
padding-top: 30px;
  margin-top: 80px;
 font-weight: 100;
 font-size: 16px;
 line-height: 30px;
 margin-right: auto;
 margin-left: auto;
 width: 280px;
 height: 280px;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.2rem rgb(36, 36, 36); 

transform: perspective(1000px) rotateX(-25deg);

}


.musicos{
   
  padding: 30px;
margin-top: -30px;
  
 font-weight: 100;
 font-size: 14px;
 line-height: 12px;
 margin-right: auto;
 margin-left: auto;
 width: 262px;
 height: 262px;
 overflow-x: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.1rem rgb(8, 8, 8); 

color: gray;
}

.grabacion {
    
  padding: 30px;
margin-top: -13px;
  
 font-weight: 100;
 font-size: 14px;
 line-height: 12px;
 margin-right: auto;
 margin-left: auto;
 width: 278px;
 height: 278px;
 overflow-x: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.1rem rgb(22, 22, 22); 

color: gray;
transform: perspective(1000px) rotateX(20deg);

}


.grabacion h2{
  text-align: center;
font-weight: 100;
  color: white;
  margin-bottom: 40px;
}


.musico{
  color: var(--insecta-rose);
  color: rgb(181, 173, 173) ;
}

.musicos h2{
  text-align: center;
font-weight: 100;
  color: white;
  margin-bottom: 40px;
}


.tema-individual{
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
  box-shadow: 5px 0 1rem 0.2rem rgb(65, 64, 64);
margin-top: 50px;
margin-bottom: 30px;
  overflow-x: hidden;
border-radius: 10px;
}


.video-tema-individual-container{
  width: 100%;
  height: 100%;
  position: relative;
 z-index: 1;
}

.video-tema-individual{
  
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
 
  transition: filter 1.5s linear;
  top: 25%;


}


.video-tema-individual>*{
 position: absolute;
 width: 100%;      
 height: 100%;
 
}
 
 
.volver a{
  text-decoration: none;
  background-color: rgb(0, 0, 0);
        width: 44px;
        height: 20px;
        font-size: 12px;
        font-weight: 100;
        border-radius: 16%;
        
        color: rgb(202, 198, 198);
        display: block;
       
      
      padding-top: 3.6px;
      padding-left: 5.6px;
      
        z-index: 100;
}


/*-------disc-rotate (temas individuales)------*/


@keyframes Disc-Rotating{
  0%{
   
      transform: rotateZ(0deg);
 
  
  }
  100%{
    transform: rotateZ(360deg);
 
 
  }

}
.disc-rotating{
  animation: Disc-Rotating 1.818s linear infinite;
    
}

.disc-rotate-container-total{

  width: 180px;
  height: 180px;
 margin-left: auto;
 margin-right: auto;
  
}

.disc-rotate-container-circle{
  width: 100%;
  height: 100%;
  
}

.disc-rotate-translate{
 box-shadow: 0 0  1rem 0.5rem rgb(64, 64, 64);
    color: rgb(30, 30, 31);
   width: 100%;

   height: 100%;
    border-radius: 50%;
   
 z-index: 2;

}

.color-disc-insecta{
  background-image: repeating-radial-gradient(rgb(26, 54, 51) 0% 1%, var(--insecta-rose) 2% 7%); 
    

}

.color-disc-tach-felino{
  background-image: repeating-radial-gradient(rgb(90, 90, 90) 0% 1%, rgb(236, 232, 232) 2% 7%); 
    

}

.color-disc-dias-lime{
  background-image: repeating-radial-gradient(rgb(37, 37, 37) 0% 1%, rgb(29, 27, 27) 2% 7%); 
     

}



.disc-pua-container{
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
}


/*-----------PÚA--------------*/



.pua{
  
 
  width: 100px;
  height: 200px;

  background-image: url("../assets/pua_sin_base.png");
  background-size: 500%;
  background-repeat: no-repeat;
 background-position: -180px -180px;
transform-origin: 100% 20%;
transform: perspective(1000px) rotatez(-10deg) translateX(160%) translateY(-90%); 

z-index: 5;

}
