

      
  .anterior-siguiente{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10px;
  }


  .anterior-siguiente a{
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
    color: rgb(177, 175, 175);
  }


  .bg-insecta-rose{
    background-color: var(--insecta-rose);
  }

  .bg-black{
    background-color: rgb(8, 8, 8);
  }





  .body-insecta{

    background: linear-gradient(90deg, rgb(13, 78, 74) 0%, #0e4648 40%, var(--insecta-rose) 100%);
       
  }
  
  
  
  .body-tach-felino{
  
    background: linear-gradient(90deg, rgb(124, 145, 145) 0%, black 30%, black 70%, rgb(124, 145, 145) 100%);
       
  }
  
  
  .body-tach-felino .letra{
    color: white;
  }
  
  
  


  .dias-lime .anterior-siguiente a{
    color: rgb(221, 221, 223);
  }

.canciones-h1{
  color: white;
  margin-top: -10px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  text-shadow: 4px 0px 4px rgb(17, 16, 16);
}
     
.cancion-body{
  width: 100%;
  height: 100%;
 
}

.dias-lime{

  background: linear-gradient(90deg, rgb(71, 104, 72) 0%, rgb(15, 24, 85) 30%, rgb(109, 1, 1) 85%, rgb(146, 146, 55) 100%);
    
  /*background-image: url("../assets/img_dias_lime.jpg");
 
  background-size: cover;
    background-repeat: no-repeat;
    background-position: -215px -50px;
     */  
     background-color: rgb(128, 156, 128);

}
.dias-lime .letra{
  color: white;
}


.instrumento{
  color: rgb(104, 102, 102);
}


.letras-insecta{
  background-image: url("../assets/hormiguero.jpg");
  background-size: cover;
  
  color: rgb(206, 203, 203);

}

.letra{
  
  padding: 10px;
padding-top: 30px;
  margin-top: 80px;
 font-weight: 100;
 font-size: 16px;
 line-height: 30px;
 margin-right: auto;
 margin-left: auto;
 width: 280px;
 height: 280px;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.2rem rgb(36, 36, 36); 

transform: perspective(1000px) rotateX(-25deg);

}


.musicos{
   
  padding: 30px;
margin-top: -30px;
  
 font-weight: 100;
 font-size: 14px;
 line-height: 12px;
 margin-right: auto;
 margin-left: auto;
 width: 262px;
 height: 262px;
 overflow-x: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.1rem rgb(8, 8, 8); 

color: gray;
}

.grabacion {
    
  padding: 30px;
margin-top: -13px;
  
 font-weight: 100;
 font-size: 14px;
 line-height: 12px;
 margin-right: auto;
 margin-left: auto;
 width: 278px;
 height: 278px;
 overflow-x: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
 box-shadow: 5px 0 1rem 0.1rem rgb(22, 22, 22); 

color: gray;
transform: perspective(1000px) rotateX(20deg);

}


.grabacion h2{
  text-align: center;
font-weight: 100;
  color: white;
  margin-bottom: 40px;
}


.musico{
  color: var(--insecta-rose);
  color: rgb(181, 173, 173) ;
}

.musicos h2{
  text-align: center;
font-weight: 100;
  color: white;
  margin-bottom: 40px;
}


.tema-individual{
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
  box-shadow: 5px 0 1rem 0.2rem rgb(65, 64, 64);
margin-top: 50px;
margin-bottom: 30px;
  overflow-x: hidden;
border-radius: 10px;
}


.video-tema-individual-container{
  width: 100%;
  height: 100%;
  position: relative;
 z-index: 1;
}

.video-tema-individual{
  
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
 
  transition: filter 1.5s linear;
  top: 25%;


}


.video-tema-individual>*{
 position: absolute;
 width: 100%;      
 height: 100%;
 
}
 
 
.volver a{
  text-decoration: none;
  background-color: rgb(0, 0, 0);
        width: 44px;
        height: 20px;
        font-size: 12px;
        font-weight: 100;
        border-radius: 16%;
        
        color: rgb(202, 198, 198);
        display: block;
       
      
      padding-top: 3.6px;
      padding-left: 5.6px;
      
        z-index: 100;
}

.bg-volver-tach a{
  background-color: rgb(43, 41, 41);
}


/*-------disc-rotate (temas individuales)------*/


@keyframes Disc-Rotating{
  0%{
   
      transform: rotateZ(0deg);
 
  
  }
  100%{
    transform: rotateZ(360deg);
 
 
  }

}
.disc-rotating{
  animation: Disc-Rotating 1.818s linear infinite;
    
}

.disc-rotate-container-total{

  width: 180px;
  height: 180px;
 margin-left: auto;
 margin-right: auto;
  
}

.disc-rotate-container-circle{
  width: 100%;
  height: 100%;
  
}

.disc-rotate-translate{
 box-shadow: 0 0  1rem 0.5rem rgb(64, 64, 64);
    color: rgb(30, 30, 31);
   width: 100%;

   height: 100%;
    border-radius: 50%;
   
 z-index: 2;

}

.color-disc-insecta{
  background-image: repeating-radial-gradient(rgb(26, 54, 51) 0% 1%, var(--insecta-rose) 2% 7%); 
    

}

.color-disc-tach-felino{
  background-image: repeating-radial-gradient(rgb(90, 90, 90) 0% 1%, rgb(236, 232, 232) 2% 7%); 
    

}

.color-disc-dias-lime{
  background-image: repeating-radial-gradient(rgb(37, 37, 37) 0% 1%, rgb(29, 27, 27) 2% 7%); 
     

}



.disc-pua-container{
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
}


/*-----------PÚA--------------*/



.pua{
  
 
  width: 100px;
  height: 200px;

  background-image: url("../assets/pua_sin_base.png");
  background-size: 500%;
  background-repeat: no-repeat;
 background-position: -180px -180px;
transform-origin: 100% 20%;
transform: perspective(1000px) rotatez(-10deg) translateX(160%) translateY(-90%); 

z-index: 5;

}










/*------------CARROUSEL-----------*/


.carrousel-grande{               
    width: 100vw;
  height: 80vw;
  
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;
 overflow-x: hidden;   
 
 transition: all 1s;
  
}


.carrousel-container-grande{
  scroll-snap-type: x proximity; 
width: 100%;
height: 100%;
overflow-y: hidden;
overflow-x: scroll;
display: grid; 


grid-template-columns: repeat(3, 80%);
transition: all 1s;
}





.carrousel-slide-grande{
     position: relative;
      width: 99%;
      height: 100%;
    
     
    
 scroll-snap-align: center;
 
 margin-left: auto;
 margin-right: auto;
 box-shadow: 15px 0 1rem 1rem rgb(0, 0, 0); 
 transition: all 1s;
 animation: carousel-slide 8s ease-in-out 1.5s;  

 /*  
 border-top: 5px black;
 border-bottom: 5px black; */

}

/*
.carrousel-slide:nth-child(odd){

  background-color: rgba(15, 15, 15, 0.4);
}

.carrousel-slide:nth-child(even){

  background-color: rgba(8, 0, 0, 0.5);
} */   

@keyframes carousel-slide { 
  0% {
    transform: translateX(0%);
  }
  25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(30%);
    }
       

  
  75% {
      transform: translateX(-20%);
      
    }
}





/*-------------DATOS TEMAS (chico)------------*/ 


.box-shadow-chico{
  box-shadow: 3px 0 1rem 0.1rem rgb(18, 18, 18);
}

.carrousel-slide-content{
  text-align: center;
}


.slide-container h2{
  color: white;
  text-align: center;
  
}



/*
 .carrousel-container-chico{
  width: 200px;
  height: 200px;
 
display: grid; 

grid-template-columns: repeat(3, 33.3%);
 }


 
 .carrousel-container-chico .carrousel-slide{
  padding: 10%;
  animation: none;   
  width: 98%;

 }

 .carrousel-container-chico p{
  font-size: 4px;
  color: aqua;
  padding: 0%;
  line-height: 10px;
 }
 
 .carrousel-container-chico h2{
  font-size: 20%;
  color: rgb(161, 157, 157);
 }


*/


 .carrousel-cd-chico{
  width: 300px;
  height: 100px;
 margin-top: 50px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;  
transition: all 1s;

}


 .carrousel-container-cd-chico{
  width: 300px;
  height: 100px;
 
display: grid; 

grid-template-columns: repeat(3, 33.3%);
transition: all 1s;
 }





 .carrousel-container-cd-chico p{
  font-size: 4px;
  color: aqua;
  padding: 0%;
  line-height: 10px;
 }
 
 .carrousel-container-cd-chico h2{
  font-size: 20%;
  color: rgb(161, 157, 157);
 }



.carrousel-slide-chico{
  height: 100px;
}



/*
 .carrousel-chico{
  width: 200px;
  height: 200px;
  background-image: url("../assets/hormiguero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;  


}


*/



/* 
.img-insecta1-chico{
  background-image: url("../assets/hormiguero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.img-insecta1-chico h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.img-insecta1-chico p{
  font-size: 25%;
  color: rgb(196, 192, 192);
  line-height: 120%;
  margin-top: 5px;
  
}

.img-insecta2-chico{
background-color: var(--insecta-rose);
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
}


.img-insecta2-chico h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.img-insecta2-chico p{
  font-size: 20%;
  line-height: 100%;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  width: 80%;
 text-align: left;
  margin-left: auto;
  margin-right: auto;
}


.img-insecta3-chico{
 background-color: black;
 box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
}


.img-insecta3-chico h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.img-insecta3-chico p{
  font-size: 20%;
  line-height: 100%;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  width: 80%;
 text-align: left;
  margin-left: auto;
  margin-right: auto;
}




.img-insecta1-grande{
  background-image: url("../assets/hormiguero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.img-insecta1-grande h2{
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 100;
}

.img-insecta1-grande p{
  font-size: 10px;
  color: rgb(196, 192, 192);
  line-height: 13px;
  margin-top: 5px;
  
}

.img-insecta2-grande{
background-color: var(--insecta-rose);
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
}


.img-insecta2-grande h2{
  font-size: 12px;
  margin-top: 15px;
  font-weight: 100;
}

.img-insecta2-grande p{
  font-size: 10px;
  line-height: 13px;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}


.img-insecta3-grande{
 background-color: black;
 box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
}


.img-insecta3-grande h2{
  font-size: 12px;
  margin-top: 15px;
  font-weight: 100;
}

.img-insecta3-grande p{
  text-align: left;
  font-size: 10px;
  line-height: 13px;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  width: 80%;
 
  margin-left: auto;
  margin-right: auto;
}

 */


 
 .img-insecta1{
  background-color: rgb(18, 17, 17);

  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}


.img-insecta2{
  background-image: url("../assets/hormiguero.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 15% 10%;
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  overflow-x: hidden;
}

.img-insecta3{
  background-color: var(--insecta-rose);
  background-image: url("../assets/hormiguero.jpg");
  background-repeat: no-repeat;
overflow-x: hidden;
  background-size: 150%;
  background-position: 220% 10%;
  box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
  
}





  /*
  
  .img-insecta3{
    background-color: black;
    box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
   }
*/

   
   .img-dias-lime1{
    background-color: black;
    background-image: url("../assets/img_dias_lime.jpg");
    background-size: 200%;
    background-position: -50% 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    filter: sepia(0);
   }

   .img-dias-lime2{
    background-image: url("../assets/img_dias_lime.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: 43% 0;
    filter: sepia(0);
   }

   
   .img-dias-lime3{
    background-color: black;
    background-image: url("../assets/img_dias_lime.jpg");
    background-size: 200%;
    background-position: 140% 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    filter: sepia(0);
   }
   
   .box-shadow-gray{
    box-shadow: 3px 0px 1rem 0.1rem rgb(44, 44, 44);
   }

.chico-1 h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.chico-1 p{
  font-size: 25%;
  color: rgb(196, 192, 192);
  line-height: 120%;
  margin-top: 5px;
  
}



.chico-2-3 h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.chico-2-3 p{
  font-size: 20%;
  line-height: 100%;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  width: 80%;
 text-align: left;
  margin-left: auto;
  margin-right: auto;
}







.grande-1 h2{
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 100;
}

.grande-1 p{
  font-size: 10px;
  color: rgb(196, 192, 192);
  line-height: 13px;
  margin-top: 5px;
  
}



.grande-2-3 h2{
  font-size: 12px;
  margin-top: 15px;
  font-weight: 100;
}

.grande-2-3 p{
  font-size: 10px;
  line-height: 13px;
  margin-top: 5px;
  color: rgb(200, 197, 197);
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
















.carrousel-slide-chico h2{
  font-size: 40%;
  margin-top: 5px;
  font-weight: 100;
}

.carrousel-slide-chico p{
  font-size: 25%;
  color: rgb(196, 192, 192);
  line-height: 120%;
  margin-top: 5px;
  
}



.carrousel-slide-grande h2{
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 100;
}

.carrousel-slide-grande p{
  font-size: 10px;
  color: rgb(196, 192, 192);
  line-height: 13px;
  margin-top: 5px;
  
}
